@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Gloria+Hallelujah&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Gloria+Hallelujah&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Gloria+Hallelujah&family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  
  
}
:root {
  --orang: #Ff6600;
  --yellow: #Ff6600;
  --bgnav: #171717;
  --white: #ffffff;
}
 

/* ================================== */

 .top-nav {
  width: 100%;
  background-color: var(--bgnav);
position: relative;



}
.aiysa-logo{
  
  background-image: linear-gradient(white,#Ff6600);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  /* -webkit-text-stroke: 1px blue; */
  color: transparent;
  -webkit-background-clip: text;
  background-position: -850px 0;
  animation:backcolor 5s linear infinite alternate;
  font-family: 'Open Sans', sans-serif;

}
@keyframes backcolor{
  100%{
      background-position: 0 0;
  }
}


.social-link {
  text-align: right;
  padding-right: 30px;
}

.social-link a {
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--white);

}
/* navbar-2 */

 .navbar {
  position: relative;
} 

.nav-item{
  padding: 0px 10px;
}

.nav-img {
  position: absolute;
  top: -140px;
  left: -70px;

  z-index: -1;

}


.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link {
  color: rgb(7, 6, 6) !important;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;

}


.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {

  border-bottom: 5px solid var(--yellow);

}

.btn {
  
  padding: 15px 40px !important;
  border-radius: 30px !important;


}

.btn-brand {



  background-color: var(--orang) !important;
  box-shadow: 0 0 1px 1px var(--orang);
  color: #5a4a06;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;


}

.btn-brand:hover {
  border: 2px solid var(--orang);
  box-shadow: 1px 1px var(--orang);
} 
/* ============volunteer-support======================== */

.volunteer-support{
padding: 40px 0px;
text-align: center;

  position: relative;

}

.volun-sup{
  background-image: linear-gradient(purple,orangered);
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 1.5rem;
  font-weight: 900;
   /* -webkit-text-stroke: 2px rgba(255, 68, 0, 0.612);  */
  color: transparent;
  -webkit-background-clip: text;
  background-position: -850px 0;
  animation:backcolor 10s linear infinite alternate;
  font-family: 'Roboto', sans-serif;

}
@keyframes backcolor{
  100%{
      background-position: 0 0;
  }
}





/*----hero-section-------------*/
#hero-section {
  width: 100%;
  height: auto;
}

.heading {
  margin-top: 100px;
}

.heading h1 {
  
  font-size: 50px;

  font-weight: 600;
  color: #171717;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}

.heading p {
  color: #272727;
  font-weight: 400;
  line-height: 1.8;
  word-spacing: normal;
  letter-spacing: normal;
}

.heading span {
  color: var(--yellow);
  font-family: 'Gloria Hallelujah', cursive;
}

.hero-image {
  position: absolute;
  top: 135px;
  z-index: 1;

}

/* =========== swiper video sliding==================== */
.swiper {
  width: 100%;
  height: auto;

}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide video {
  display: block;
  width: 100%;
  border: 5px solid rgb(246, 100, 47);
  box-shadow: 0 3px 10px rgb(230, 115, 73);
}

.swiper-slide h4 {
  font-family: 'Poppins', sans-serif;
  color: black;
  border-bottom: 5px solid orangered;
  font-weight: 400;
  padding-top: 30px;

}

.swiper-button-next {
  color: white !important;
  padding: 30px 40px;
  background-color: rgba(239, 98, 47, 0.706);
  border-radius: 50%;
}

.swiper-button-prev {
  color: white !important;
  padding: 30px 40px;
  background-color: rgba(239, 98, 47, 0.706);
  border-radius: 50%;
}



/* ============================= */
.video-wrapper video {

  position: relative;




}
 


/* ==========================about-section slider======================*/
#about-section {

  margin-bottom: 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* =============================Center slide text vertically====================== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;


}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;

}

.swiper-slide .content {
  padding: 20px 40px;
  background-color: #ffffff;
  border-bottom: 2px solid orangered;


}



.content:hover {
  border-bottom: 8px solid orangered;

}

.content h6 {
text-transform: lowercase;
  display: block;
  font-size: .85rem;
  font-size: 500;
  color: #Ff6600;
  text-transform: uppercase;
  letter-spacing: .15rem;
  margin-bottom: 1rem;
}

.content p {
  color: #171717;

  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;

}

/* =============what we do========================= */

.our-work {
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgb(230, 115, 73);
  border-radius: 10px;
}

.our-work h1 {

  padding: 30px 40px;
  background-color: #Ff6600;
  border-radius: 10px;
  text-align: center;
}

/* ========= ================ card-section ==================== ===========*/

.service-box {

  width: 100%;
  background-color: #fff;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

}

.service-box:hover {
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}

.service-box img {
  width: 100%;
}

.service-box h5 {
  text-align: center;
  color: black;
  padding-top: 20px;
}

.service-box p {
  text-align: center;
  color: #Ff6600;
  padding-bottom: 20px;
}

/* =============service-overlay======================= */
/* card1 */

.btn1 button {
  padding: 15px 40px;
  background-color: #e5276a;

  box-shadow: 0 3px 10px 0 3px #e5276a;

  border: none;
  border-radius: 30px;

}

.content-info .e-heading {
  text-align: center;
  color: black;
  padding-top: 10px;
  position: relative;
  border-bottom: 2px solid #e5276a;
  line-height: 2;

}



/* card2 */

.btn2 button {
  padding: 15px 40px;
  background-color: #20b7b9;
  box-shadow: 0 3px 10px 0 3px #20b7b9;
  border: none;
  border-radius: 30px;

}

.content-info .h-heading {
  text-align: center;
  color: black;
  padding-top: 10px;
  position: relative;
  border-bottom: 2px solid #20b7b9;
  line-height: 2;

}



/* ================= card3========================== */
.service-box {
  position: relative;
  overflow: hidden;
}

.img-box {
  width: 100%;
  height: auto;
  display: block;
}

.box-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box-content:before,
.box-content:after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.5s;
  opacity: 0;

}

.box-content:before {
  top: -20%;
}

.box-content:after {
  bottom: -20%;
}

.service-box:hover .box-content:before {
  top: 0%;
  opacity: 1;
}

.service-box:hover .box-content:after {
  bottom: 0%;
  opacity: 1;
}

.service-box .content-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}

.service-box:hover .content-info {
  opacity: 1;
}


.content-info .s-heading {
  text-align: center;
  color: black;
  padding-top: 10px;
  position: relative;
  border-bottom: 2px solid #a943a5;
  line-height: 2;


}


.content-info p {
  color: #171717;
  padding: 10px 20px 0px 20px;
  font-size: 16px;
  font-family: normal;
  font-weight: 300;



}

.btn3 button {
  padding: 15px 40px;
  background-color: #a943a5;
  box-shadow: 0 3px 10px 0 3px #a943a67c;
  border: none;
  border-radius: 30px;

}

/* card4 */

.content-info .o-heading {
  text-align: center;
  color: black;
  padding-top: 10px;
  position: relative;
  border-bottom: 2px solid #f6910e;
  padding: 10px;

}


.btn4 button {
  padding: 15px 40px;
  background-color: #f6910e;

  box-shadow: 0 3px 10px 0 3px #f6910e;

  border: none;
  border-radius: 30px;
  

}

/* =====================approch design================================== */
 .content-wrapper {
  margin-top: 100px;
}

.content-wrapper h3 {
  font-size: 30px;

  font-weight: 500;
  color: #171717;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}

.content-wrapper span {
  color: var(--yellow);
  font-family: 'Gloria Hallelujah', cursive;
}

.content-wrapper p {
  color: #272727;
  font-weight: 400;
  line-height: 1.8;
  word-spacing: normal;
  letter-spacing: normal;
}







/* ============impact-section====================== */
#impact-section{
margin-top: 100px;

}
.impact-wrapper{
  margin-bottom: 50px;
}

.impact-wrapper h3{
font-size: 30px;
text-align: center;
  font-weight: 500;
  color: #171717;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 20px;
}
  .impact-wrapper span{
    color: var(--yellow);
  font-family: 'Gloria Hallelujah', cursive;
  }
/* ===========info-box=================== */
  .info-box{
   margin:0px 20px 20px 20px;
    display: flex;
    align-items: center;
   background-color: #fff;
   box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
   padding:40px 100px;
   border-radius: 30px;
   text-align: center;
  
  
  }
  
  .all-content .icons{
    font-size: 50px;
    color: #Ff6600;
    font-weight: 500;
  }
  .all-content p{
    font-size: 16px;
    padding-top: 10px;
    line-height: 1.5;
  }
  .info-box:hover{
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  
  }
  /* ==========Banner-section======================== */
  
  .story-heading h3{
    text-align: center;
    padding: 10px 0px;
    background-color: var(--orang);
  }
  /* ========================slide-slow-story============================== */
  
    
  

  .swiper-slide{
    text-align: center;
    font-size: 18px;
     background: white;

  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
 .slide-container{
  border-radius: 30px;
  width: 100%;
  height: auto;
  
 }
 .card-image img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 0%!important;
 }
 .card-title{
  padding-top: 10px;
  color: #fff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
 }
 .card-text{
padding-top: 10px;
color: #fff;
font-size: 16px;

 }
 
  .card-body button{
    
  padding: 10px 40px;
  background-color: rgba(255, 255, 0, 0.703);
  color: #fff;
  border-radius: 50px !important;
  border: none;
  font-family: 'Poppins', sans-serif;
 }
/* ===================founder-section============================ */

.founder-column {

  
  text-align: center;
}
.founder-column .fa-solid{
  font-size: 50px;
  color: #Ff6600;
}
.founder-column h2{
font-size: 20px;
font-family:'Poppins', sans-serif ;
line-height: 1.5;
}
.line-para{
  font-size: 16px;
}
.founder-column h6{
  color: #Ff6600;
  font-size: 18px;
  font-family:'Poppins', sans-serif ;
  font-weight: 600;
}
.title-container{
  text-align: center;
  
  
}
.title-container .fa-solid{
  background-color: rgba(238, 204, 204, 0.501);
  padding: 20px 30px;
  border-radius: 50%;
  font-size: 30px;
  color: #Ff6600;
}

.title-container .fa-solid:hover{
color: white;
background-color: orangered;

}
.title-container p{
text-align: center;
  font-size: 16px;
  padding: 20px 20px;
  font-weight: 400;
  

}
/* ==================footer section======================== */
.footer-section{
  width: 100%;
}
 footer{
  background-color: black;
  color: white;
 }
 .form-container{
  padding: 20px 0px;
  
 }
 form{
  display: inline-block;
  
  text-align: center;
 }
 .form-container h1{
  padding-bottom: 30px;

 }
 .form-container label{
  font-size: 20px;
  margin-bottom: 20px;
  

 }
 .form-container input{
  padding: 10px 30px;
  
  
 }
.form-container .submit-btn{

background-color:#Ff6600; 
padding: 10px 40px;
border: none;
border-radius: 30px;
 }
 
 
 .social-link span{
  color: #Ff6600;
  font-size: 20px;
 }
.footer-bottom{
  background-color: #171717;
}
/* ==========================media-query-start============================================================== */

@media screen and (max-width: 1024px) {

.top-nav{
  width: 100%;
}

.navbar {
width: 100%;
}
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link {
font-size: 14px;


}
.volunteer-support{
margin-top: 100px;
}
}
@media only screen and (max-width: 769px) {
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}

@media screen and (max-width: 769px) {
  
 
  .btn{
  
     margin-left: 100px;
    margin-top: 10px; 
    
  }
   form  {
    flex-direction: column!important;
    
  } 
  .form-container input{
    flex-direction: column!important;
  
    
    
   }
   .submit-btn{
    margin-top: 20px;
  } 
  
  
}


@media screen and (max-width: 400px) {
  .top-nav{
    padding: 50px 0px;
    width: 100%;
  }
  .card-title{
    
    font-size: 20px;
  }
  .card-text{
    font-size: 16px;
  }
  
 .footer-section{
    width: 100%;
  }
  form{
   flex-direction: column!important;

  }
  .form-container input{
    flex-direction: column!important;
    
    
   }
   
  .submit-btn{
    margin-top: 20px;
    
  } 
  .aiysa-logo{
    font-size: 1rem;
  }
  .volun-sup{
    font-size: 1.5rem;
  }
  .btn{
    margin-left: 0;
  }
  .card-body h4{
    padding: 0;
  }
  .volunteer-support{
 padding-top: 100px;

  }
  .card-body button{
    padding: 10px 20px;

  }
  .heading {
    margin-top: 10px;
  }
}






